[Desktop Entry]
Name=WMPing
Comment=Network hosts status monitor
Comment[pl]=Monitor stanu komputerów w sieci
Exec=wmping
Terminal=false
Type=Application
Categories=Applet;
NotShowIn=GNOME;KDE;
# vi: encoding=utf-8
